#section0, #section1, #section3 {   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section0 {
    background-image: url("../imgs/villa/DJI_0130_mod1.jpg");
    opacity: 0.85;
	background-size: 200% 200%;
	animation: rotating 150s linear infinite;
	height: 100vh;
}
@keyframes rotating {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#section1 {
    background-image: url("../imgs/villa/DJI_0142.jpg");
    opacity: 1 !important;
    z-index: 1;
}
#section3 {
    background-image: url("../imgs/villa/DJI_0148.jpg");
    background-position: bottom !important;
    opacity: 1 !important;
    z-index: 1;
}

div.mainLogo {
    padding: 0% 0% 0% 0%;
}

#img-Logo {
    width: 50%;
}

#subtitleLogo {
    padding: 1% 0% 0% 0%;

    color: white;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    letter-spacing: 2vw;
}

hr.mainSeparator {
    color: white;
    border: solid white;
}

div.subtitleLabelsContainer {
    padding: 0% 0% 0% 0%;
}

a,u {
    text-decoration: none !important;
}

p.subtitleLabel {
    color: white;

    font-size: 50px;
    font-weight: 500 !important;
    letter-spacing: 1vw;
    
    transition: 0.3s;
}
p.subtitleLabel:hover {
    font-weight: 900 !important;
    letter-spacing: 2vw;
}

div.col-sm.main-arrows-down {
    animation: arrowdrop 1.5s linear infinite;
}
div.col-sm.main-arrows-down:hover {
    animation: arrowdrop 0.5s linear infinite;
}
@keyframes arrowdrop {
    0%   {opacity: 0.2;}
    25%  {opacity: 0.7;}
    50%  {opacity: 1;}
    75%  {opacity: 0.7;}
    100% {opacity: 0.2;}
}

i.main-arrow-down{
    margin-left: 0.5%;
    margin-right: 0.5%;
    
    color:white;
    transition: 0.3s;
}

div.collab {
    border-right: 1px solid white;
}

h1.sponsorTitle, h4.sponsorTitle {
    color:white;
    font-style: italic;
}
h1.sponsorTitle {
    font-weight: bolder;
}
h4.sponsorTitle {
    font-weight: lighter;
    margin: 0% 0% 2% 0%;;
}

div.sponsorContainer {
    padding: 1% 5% 0% 7.5%;
}

img.sponsorLogo {
    width: 40%;
    height: auto;
    border-radius: 100%;
    transition: 0.1s;
}
img.sponsorLogoImpresa {
    width: 20% !important;
}

figcaption.sponsorLogoCaption {
    color: white;
    font-style: italic;
    font-weight: lighter;
}

div.prenotazioneContainer {
    padding: 0% 10% 0% 10%;
}

#prenotazioneTitolo {
    color: white;
    font-style: italic;
    font-weight: bolder;
    margin: 0% 0% 7.5% 0%;
    animation: pulsing 1.0s linear infinite;
}
@keyframes pulsing {
    0%   {letter-spacing: 1vh;}
    25%  {letter-spacing: 2vh;}
    50%  {letter-spacing: 3vh;}
    75%  {letter-spacing: 2vh;}
    100% {letter-spacing: 1vh;}
}

label.prenotazioneLabel {
    color: white !important;
    font-weight: bolder;
}

input.campoPrenotazione{
    font-style: italic;
}

div.inputContainer {
    text-align: left;
    padding: 2% 0% 2% 0%;
    margin: 0% 1% 0% 0%;
}

button.prenotazioneConferma {
    width: 70%;
    margin: 7.5% 0% 4% 0%;
    font-weight: bolder;
    transition: 0.3s
}
button.prenotazioneConferma:hover {
    width: 100%;
}